<!DOCTYPE html>
<html>
  <head>
   <title>Soap Box</title>
   <link rel="stylesheet" type="text/css" href="style.css">
  </head>


<body>
<div class="container">
  <h1>Welcome to Soap Box..</h1>
  <h2>Just say it</h2>
  <h3>Welcome {{this.name}}</h3>

  <form action="/home" method="post">
    <!--   Username:<br>
      <input type="text" name="username"><br>
 -->      Post Comment:<br>
     <input type="text" name="tweet" ><br>
     <input type="submit" value="Holla!"><br><br>
<a href="/sign-in">time to gett off your Soap Box....</a>

  </form>

{{#each tweet}}
 <div id="tweet"> <strong>{{this.tweet}}</strong></div>
  <div id="name">{{this.name}}</div><br>
{{/each}}


<input type="submit" value="sign out" action="/"><br><br>
</body>
</html>

