<!DOCTYPE html>
<html>
<head>
<title>Soap Box</title>
</head>
<body>

  <header class="header">
    <h1>Welcome to Soap Box</h1>
    <h2>Just say it</h2>
  </header>

  <div class="form">
    <form>
      Username:<br>
      <input type="text" name="username"><br>
      Post Comment:<br>
      <input type="text" name="tweet"><br>
      <input type="submit" value="Holla!">
    </form>
  </div>

  <div class="post-list">
    <h2>What others are saying...</h2>
    {{#each post}}
  </div>

</body>
</html>
